.dpval {
    margin-top: 10px;
    margin-left: 10px;
    .text {
        margin-left: 5px;
        font-weight: bold;
    }
}
.datepicker {
    padding: 10px;
    display: inline-block;
    margin: 10px;
    box-shadow: -1px 1px 10px #717171;

    .header {
        text-align: center;
        font-weight: bold;
    }

    .dp-container {
        .visible-cal {
            .selected-cal {
                text-transform: capitalize;
                text-align: center;
                .mnth {
                    margin-right: 5px;
                }
            }
            .month-cal {
                display: inline-block;
                margin-right: 15px;
                margin-top: 10px;
                &:last-of-type {
                    margin-right: 0;
                }
            }
            position: relative;

            .next {
                position: absolute;
                right: 2%;
                top: 10px;
            }

            .prev {
                position: absolute;
                left: 2%;
                top: 10px;
            }

            table {
                table-layout: fixed;
                border-collapse: collapse;

                thead {
                    th {
                        padding-bottom: 5px;
                    }

                }

                tbody {
                    tr {
                        td {
                            &.shown {

                                &.hovered {
                                    background-color: #3691ca8c;
                                    color: white;
                                }

                                &.selected {
                                    background-color: #3691ca;
                                    color: white;
                                }
                                &.disabled {
                                    color: #999;
                                    pointer-events: none;
                                    div{
                                        cursor: not-allowed;
                                    }
                                }

                                &.first {
                                    border-left: 1px solid #999;
                                }

                                border-bottom: 1px solid #999;
                                border-right: 1px solid #999;

                                &:first-of-type {
                                    border-left: 1px solid #999;
                                }
                            }

                            vertical-align: middle;

                            div {
                                min-width: 30px;
                                min-height: 30px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }

                        &:first-of-type {
                            td {
                                &.shown {
                                    border-top: 1px solid #999;
                                }

                                &.not-shown {
                                    pointer-events: none;
                                    border-bottom: 1px solid #999;

                                    &:last-of-type {
                                        border-right: 1px solid #999;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}